@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.height-100 {
  height: 100vh;
}

.height-48 {
  height: 44%;
}

.height-52 {
  height: 56%;
}

#upper-icons {
  padding: 0 24px !important;
  margin-bottom: 12px !important;
}

.left-up-icons {
  width: 40%;
}

@media (min-width: 768px) {
  .width-50 {
    width: 30% !important;
    border-radius: 2% !important;
  }

  .tallest-div {
    height: 100vh;
    display: flex;
    align-items: center;
  }

  .height-48 {
    height: 35%;
  }

  .height-52 {
    height: 65%;
  }

  .height-100 {
    height: 95vh;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .width-50 {
    width: 40% !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .width-50 {
    width: 50% !important;
  }

  .height-48 {
    height: 42%;
  }

  .height-52 {
    height: 58%;
  }

  .height-100 {
    height: 90vh;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .width-50 {
    width: 50% !important;
  }

  .height-48 {
    height: 42%;
  }

  .height-52 {
    height: 58%;
  }

  .height-100 {
    height: 90vh;
  }
}

@media (min-width: 361px) and (max-width: 375px) {
  #upper-icons {
    padding: 0 18px !important;
    margin-bottom: 12px !important;
  }

  .left-up-icons {
    width: 40%;
  }
}

@media (min-width: 321px) and (max-width: 360px) {
  #upper-icons {
    padding: 0 16px !important;
    margin-bottom: 12px !important;
  }

  .left-up-icons {
    width: 40%;
  }
}

@media (min-width: 301px) and (max-width: 320px) {
  #upper-icons {
    padding: 0 14px !important;
    margin-bottom: 10px !important;
  }

  .left-up-icons {
    width: 40%;
  }
}

@media (min-width: 281px) and (max-width: 300px) {
  #upper-icons {
    padding: 0 10px !important;
    margin-bottom: 10px !important;
  }

  .left-up-icons {
    width: 40%;
  }
}

@media (max-width: 280px) {
  #upper-icons {
    padding: 0 7px !important;
    margin-bottom: 10px !important;
  }

  .left-up-icons {
    width: 40%;
  }
}
