@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.height-100 {
  height: 100vh;
}

.height-48 {
  height: 44%;
}

.height-52 {
  height: 56%;
}

@media (min-width: 768px) {
  .width-50 {
    width: 50% !important;
  }

  .height-48 {
    height: 35%;
  }

  .height-52 {
    height: 65%;
  }
}

@media (max-width: 280px) {
  #upper-icons {
    padding: 0 5px !important;
    margin-bottom: 10px !important;
  }

  .left-up-icons {
    width: 50%;
  }
}
