.historyBtn-div {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.historyBtn-div:hover {
  cursor: pointer;
}

.historyBtn-div:active {
  background-color: rgba(0, 0, 0, 0.25);
}

@media (max-width: 280px) {
  .historyBtn-div {
    width: 30px;
    height: 30px;
  }

  .history-icon-size {
    font-size: 20px;
  }
}
